@{
    ViewData["Title"] = "Home Page";
}


<!Doctype Html>
<Html>
<Body background="https://www.wykop.pl/cdn/c3201142/comment_WIZyUckX6KnpqacAWvCM6VilF1CsbxsT,w1200h627f.jpg" style="background-size: cover">
<Center>
    <h1 style="color: white; font-size: 60px">Zbigniew Habadzibadło's Bakery Manager</h1>
    <p style="color: white; font-size: 25px">Best bread at cheapest price!</p>
</Center>
</Body>
</Html>